compiled
decompiled
compilelog.txt
decompilelog.txt
EA
EA_Tuning
__pycache__
*/__pycache__
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
*.pyo
*/*.pyo
**/*.pyo
*.pyc
*/*.pyc
**/*.pyc
Utilities/*.pyc
**/*.7z
**/*.zip
**/Release/*.7z
**/Release/*.zip
**/*.ts4script
**/*.lnk
**/*.xml___jb_old___
Tunings/Temp
Libraries/**/*
EA_Tuning/**/*